.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filterButton {
    background-color: #9175ba; // Colore della navbar
    color: #eeffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #cff5fb; // Colore di hover
    }
  
    &.active {
      background-color: #cff5fb;
      color: #9175ba;
      font-weight: bold;
    }
  }
  
  .clearButton {
    background-color: transparent;
    color: #9175ba;
    border: 1px solid #9175ba;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: #9175ba;
      color: #eeffff;
    }
  }
  