// HeaderSection.module.scss



// .container {
//   // Stili per il contenitore principale
// }

// .text-container {
//   text-align: center;
//   color: #0f2556;
//   margin: 1rem auto;
//   margin-top: 4rem;
//   font-family: theme.$primary-font;
//   font-weight: 900;
//   font-size: 5rem;
//   padding-top: 2rem;
//   padding-bottom: 2rem;
//   background-color: #f0f0f0;
//   width: 100%;
//   z-index: 999;

//   .greeting {
//     margin-top: 0;
//     padding-top: 4rem;
//   }

//   .section-title {
//     font-size: 5rem;
//     margin-top: -5rem;
//     padding: 0;
//     color: #b29d6e;
//     margin-bottom: 0;
//   }

//   @media (max-width: 600px) {
//     margin-top: 4rem;
//     padding-top: 2rem;

//     .greeting {
//       margin-top: -1rem;
//       margin-left: -1rem;
//       font-size: 3rem;
//     }

//     .section-title {
//       font-size: 4rem;
//       margin-top: -5rem;
//       padding: 0;
//       color: #b29d6e;
//       margin-bottom: 5rem;
//     }
//   }
// }
