.filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    // padding: 1rem;
    margin-left: 11.2rem;
  }
  
  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    // border: #9175ba .1px solid;
    padding: .5rem;
  }
  
  .theButton {
    padding: 0.25rem .6rem;
    border: .01rem solid #9175ba;
    border-radius: 25px;
    background-color: transparent;
    color: #9175ba;
    font-size: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .theButton:hover {
    background-color: #cff5fb;
    color: #9175ba;
    transform: scale(1.1);
  }
  
  .active {
    background-color: #9175ba;
    color: #eeffff;
    border-color: #9175ba;
    box-shadow: 0px 4px 10px rgba(145, 117, 186, 0.4);
  }
  .active:hover {
    background-color: #9175ba;
    color: #eeffff;
    border-color: #9175ba;
    box-shadow: 0px 4px 10px rgba(145, 117, 186, 0.4);
  }
  .clearButtonContainer {
    border-left: .1rem solid #9175ba;
//  padding-left: .5rem;
 margin-left: 1rem;
   
  }
  .clearButton {
    padding: 0.5rem 1rem;
 
    background-color: #eeffff;
    color: #9175ba;
    border: 2px solid #9175ba;
    border-radius: 25px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .clearButton:hover {
    background-color: #9175ba;
    color: #eeffff;
    transform: scale(1.1);
  }
  
  