@import "../../app/main.module.scss";

.projectListContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.categorySection {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  opacity: 0; // Valore iniziale per l'animazione
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

// .fadeIn {}

.categoryLabel {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  font-weight: 200;
  color: $primary-color;
  // background-color: $background-color;
  padding: 1rem;
  width: 150px;
  text-align: right;
}

.projectCards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  // background-color: gold;
  border-top: 1px solid $primary-color;
  padding-bottom: 2rem;
}

.projectCard {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
// border-bottom: 1px solid $neutral-gray;
transition: transform 0.2s ease;
margin-left: 20rem;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

  &:hover {
    transform: translateY(-1px);
    // box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid $primary-color;
     border: 0.001rem solid $primary-color;
  }
  // background-color: red;
  height: 100%;
  position: relative;
  padding: 2rem;
}
// .projectListContainer {
//   position: relative; }

/* Animazione fade-in e slide-up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.boxTextProject {
  // background-color: yellow;
  grid-column: 2 / 5;
  grid-row: 1 / 4;
  padding: 0 1rem;
  h3 {
    font-size: 1.2rem;
    font-weight: 200;
    color: $primary-color;
    text-align: center;
    margin-top: 0rem;
  }
}

.portableStyle {
  p{
    font-weight: 100;
    font-size: .8rem;
  }
}

.boxImageProject {
  // background-color: yellowgreen;
  grid-column: 1/2;
  grid-row: 1/4;
  border: 1px solid $neutral-gray;
  // width: 40rem;
  // height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin:  3rem 1rem;
  padding: 1rem;
}

.projectImage {
  // width: 10rem;
  height: 10rem;
  padding: 1rem;

  object-fit: cover;
  border-radius: 8px;
}

.visitRepoAndWebsiteButtons {
  position: absolute;
  bottom: 20px; /* Distanza dal basso */
  right: 20px; /* Distanza da destra */
  display: flex;
  gap: 10px;
}

.styledButton {
  color: $primary-color;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: 100;
  transition: background-color 0.3s ease;
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  a {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.technologiesUsed {
  // grid-column: 1 / 4;
  // grid-row: 4 / 5;
  position: absolute;
  bottom: 0rem;
  left: 0;
  margin-bottom: -1rem;

  margin-left: .5rem;
  padding: 1rem 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Movimento più leggero */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px); /* Movimento più leggero */
  }
}

.infoBubble {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  border-bottom: 1px solid $neutral-gray;

  // border-radius: 8px;
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
  transition: opacity 0.5s ease;
}

.infoBubble.exit {
  animation: fadeOutDown 0.5s ease forwards;
}
