@import '../../app/main.module.scss';

.projectListContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.categorySection {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  opacity: 0; // Valore iniziale per l'animazione
  transform: translateY(20px); 
  animation: fadeInUp 0.5s ease forwards; 
}

.categoryLabel {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
  background-color: $background-color;
  padding: 1rem;
  width: 150px;
  text-align: right;
}

.projectCards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.projectCard {
  display: flex;
  flex-wrap: wrap;
  background-color: $secondary-color;
  border: 1px solid $neutral-gray;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}
// .projectListContainer {
//   position: relative; }

/* Animazione fade-in e slide-up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}




// .infoBubble {
//   background-color: white;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1000; 
//   border: 1px solid gray;
//   border-radius: 8px;

//   animation: fadeInUp 0.5s ease forwards; 

// }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Movimento più leggero */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px); /* Movimento più leggero */
  }
}


.infoBubble {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; 
  border: 1px solid gray;
  border-radius: 8px;
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
  transition: opacity 0.5s ease;
}

.infoBubble.exit {
  animation: fadeOutDown 0.5s ease forwards;
}



