@import '../../app/main.module.scss';


.technologiesList{
  display: flex;

  // flex-wrap: wrap;
  gap: 1rem;

  justify-content: left;
  li{
    
    list-style: none;
    background-color:white;
    color: #465567;
    font-weight: 300;
    border: .1rem solid $primary-color;
    border-radius: 4px;
    padding: .2rem .5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    // &:hover {
    //   background-color: #d4ca0a;
    //   border-color: #b0b0b0;
    // }
  }

}