// _navbar.scss
.navbar {
    background-color: $primary-color;
    padding: $spacing-unit;
    .navbar-content {
      background-color: white;
      @include flex-center;
      justify-content: space-between;
      .logo {

        img {
          height: 70px;
          // width: 20px;
        }
      }
      .navbar-links {
        display: flex;
        gap: $spacing-unit;
        .nav-link {
          color: $primary-color; 
          text-decoration: none;
          margin-right: 1rem;
          padding: 8px;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
  