// _navbar.scss
.navbar {
  
    // background-color: $primary-color;
    // padding: $spacing-unit;
    padding: 1rem 0;
    border-bottom: 0.01rem solid $primary-color;
    .navbar-content {
      background-color: white;
      @include flex-center;
      justify-content: space-between;
      .logo {

        img {
          height: 50px;
          margin-left: 4rem;
          // width: 20px;
        }
      }
      .navbar-links {
        display: flex;
  font-family:var(--font-zeitung-pro) ;
  font-weight: 100;

        gap: $spacing-unit;
        .nav-link {
          color: $primary-color; 
          text-decoration: none;
          margin-right: 1rem;
          padding: 8px;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
  