@import '../../app/main.module.scss';
.about-container{
    border-bottom: 0.01rem solid $primary-color;
    p{
        font-family:var(--font-zeitung-pro) ;
        font-weight: 100;
        font-size: .8rem;
        margin: 0 68rem 0 4rem;
        padding: 2rem 0;
    
  
    }
}




  